<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    width: 400px;
    height: 300px;
    background: #FFD0BD;
    position: relative; 
    overflow: hidden;
  }

  .color {
    background: #e6e6fa;
  }
  .couleur {
    background: #6B86E1;
  }
  #drink {
    margin-top: 60px;
    margin-left: 150px;
    width: 100px;
    height: 50px;
    border-radius: 50px 50px 0px 0px;
  }
  #fall {
    margin-top: 20px;
    margin-left: 20px;
    width: 60px;
    height: 30px;
    border-radius: 50px 50px 0px 0px;
  }
  #run {
    position: absolute;
    margin-top: 130px;
    margin-left: 30px;
    width: 60px;
    height: 20px;
  }
  #walk {
    position: absolute;
    margin-top: 0px;
    margin-left: 120px;
    width: 20px;
    height: 20px;
  }
  #eyes {
    position: absolute;
    margin-top: 170px;
    margin-left: 210px;
    width: 160px;
    height: 20px;
  }
  #hear {
    position: absolute;
    margin-top: 0px;
    margin-left: 20px;
    width: 60px;
    height: 10px;
  }
  #see {
    position: absolute;
    margin-top: 210px;
    margin-left: 90px;
    width: 160px;
    height: 20px;
  }
  #sight {
    position: absolute;
    margin-top: 220px;
    margin-left: 150px;
    width: 60px;
    height: 10px;
  }
  #eat {    
    position: absolute;
    margin-top: 250px;
    margin-left: 190px;
    width: 140px;
    height: 20px;
  }
  #laugh {    
    position: absolute;
    margin-top: 250px;
    margin-left: 150px;
    width: 60px;
    height: 20px;
  }
  #box {
    position: absolute;
    margin-top: 320px;
    margin-left: 150px;
    width: 100px;
    height: 50px;
    border-radius: 0px 0px 50px 50px;
  }
  #love {
    position: absolute;
    margin-top: 300px;
    margin-left: 150px;
    width: 60px;
    height: 30px;
    border-radius: 0px 0px 50px 50px;
  }
</style>
